<div class="member-card">
    <div class="member-card-header">
        <div>...</div>
    </div>
    <div class="member-img">
        <img src="~/img/user-placeholder.svg" alt="" />
    </div>
    <div class="member-card-content">
        <h4>Name of teh Member</h4>
        <h5>Job tittle</h5>
        <p class="email">email@mail.com</p>
        <p>+46 (0) 72-111-1111</p>
        <button class="btn message-btn">Message</button>
    </div>
</div>
