<div class="notifications">
    <div class="notifications-header">
        <h6>Notifications</h6>
        <div class="number-of-notifications">
            <p>27</p>
        </div>
    </div>
    <div class="notification-card">
        <div class="notification-container">
            <div class="user-img">
                <img src="~/img/user-placeholder.svg" alt="" />
            </div>
            <div class="notification-content">
                <div class="notification-text">Updated</div>
                <div class="notification-time">3 min ago</div>
            </div>
        </div>
        <div class="close-btn btn"><img src="~/img/X.svg" alt="" /></div>
    </div>
</div>