<div class="dashboard-card">
    <div class="card-header">
        <div class="project-img-container">
            <img
                class="project-img"
                src="~/img/Image.svg"
                alt=""
            />
        </div>
        <div class="project-name-container">
            <h4>Website Redesign</h4>
            <h5>Company d.o.o.</h5>
        </div>
    </div>
    <p class="project-description">
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Quasi repellat aliquam, quae.
    </p>
    <div class="card-footer">
        <div class="time-remaining">icon + days left</div>
        <div class="members">
            <div class="members-img-container">
                <img
                    src="~/img/user-placeholder.svg"
                    alt=""
                    class="user-profile"
                />
            </div>

            <div class="members-img-container">
                <img
                    src="~/img/user-placeholder.svg"
                    alt=""
                    class="user-profile"
                />
            </div>
        </div>
    </div>
</div>

