<div class="profile-menu">
    <div class="profile-name">
        <img src="~/img/user-placeholder.svg" alt="" />
        <p>User Name</p>
    </div>
    <div class="logout">
        <div>Logout</div>
    </div>
</div>

