@model Business.Models.AdminSignInForm
@{
    ViewBag.Title = "Admin - Login";
    Layout = "_Layout";
}


<div class="wrapper center admin-wrapper">
            <div class="admin-login-container">
                <div class="admin-title-container">
                    <div class="admin-title-content">
                        <h1>
                            Welcome to <br />
                            <span>Admin Panel</span>
                        </h1>
                        <p>
                            Lorem ipsum dolor sit. Non facere modi veniam
                            adipisci tempora at rem nemo perferendis sequi
                            cupiditate ratione ipsam..
                        </p>
                    </div>
                </div>
                <div class="admin-form-container">
                    <form asp-action="MemberLogin" asp-controller="Login" class="form form-admin" method="POST" novalidate>
                        <div class="form-header">
                            <div class="logo-container">
                                <a asp-controller="Home" asp-action="Index">
                                    <img src="~/img/Full.svg" alt="Alpha Logo" class="logo" />
                                </a>
                            </div>
                            <h3>Admin Login</h3>
                        </div>
                        <label asp-for="Email">Email:</label>
                        <input
                            type="email"
                            id="email"
                            asp-for="Email"
                            placeholder="Type in you email"
                            required
                        />
                        <span class="error" asp-validation-for="Email"></span>

                        <label asp-for="Password">Password:</label>
                        <input
                            type="password"
                            id="password"
                            asp-for="Password"
                            placeholder="Type in your password"
                        />
                        <span class="error" asp-validation-for="Password"></span>

                        <div class="checkbox-container remember">
                            <div>
                                <input
                                    type="checkbox"
                                    id="terms"
                                    name="terms"
                                />
                                <label class="checkbox-label" for="terms">
                                    Remember Me
                                </label>
                            </div>
                            <a href="#">Forgot Pasword?</a>
                        </div>
                        <span class="error login-error">
                             @ViewData["ErrorMessage"]
                        </span>
                        <button class="btn btn-primary" type="submit">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>