@model Business.Models.RegistrationForm
@{
    ViewBag.Title = "Signup";
    Layout = "_Layout";
}

<div class="center form-wrapper">
    <form asp-action="Signup" asp-controller="Login" class="form" id="regForm" method="post" novalidate>
        <div class="form-header">
            <h3>Create Account</h3>
        </div>
        <label asp-for="FirstName">Name:</label>
        <input
            type="text"
            id="firstName"
            asp-for="FirstName"
            placeholder="Your first name"
        />
        <span class="error" asp-validation-for="FirstName"></span>
        <label asp-for="LastName">Last Name:</label>
        <input
            type="text"
            id="lastName"
            asp-for="LastName"
            placeholder="Your last name"
        />
        <span class="error" asp-validation-for="LastName"></span>

        <label asp-for="Email">Email:</label>
        <input
            type="email"
            id="email"
            asp-for="Email"
            placeholder="email@example.com"
        />
        <span class="error" asp-validation-for="Email"></span>

        <label asp-for="Password">Password:</label>
        <input
            type="password"
            id="password"
            asp-for="Password"
            placeholder="Choose your password"
        />
        <span class="error" asp-validation-for="Password"></span>

        <div class="checkbox-container">
            <input type="checkbox" id="terms" asp-for="Terms" />
            <span class="error" asp-validation-for="Terms"></span>
            <label class="checkbox-label" asp-for="Terms">
                I accept
                <span><a href="#">terms and conditions</a></span>
            </label>
                    
        </div>
        <button type="submit" class="btn btn-primary">
            Create Account
        </button>
        <p class="login-text">
            Already have an account? <span><a href="#">Login</a></span>
        </p>
        <div class="or-line">
            <p><span>OR</span></p>
        </div>
    </form>

    <form asp-action="ExternalSignIn" asp-controller="Login" class="form google-login" method="post" novalidate>
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <button type="submit" name="provider" value="Google" class="login-with-x btn">Sign in with Google</button>
    </form>
</div>