 @model Dashboard_MVC.Views.Models.DashboardViewModel
 @using Business.Helpers
@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
    var claimName = User.FindFirst("FirstName")?.Value;
}

@await Html.PartialAsync("Partials/_AddProjectForm")
@await Html.PartialAsync("Partials/_EditProjectForm", Model)


<div class="wrapper">
    <div class="dashboard">
        <div class="logo-container">
            <a asp-controller="Dashboard" asp-action="Projects">
                <img src="~/img/Full.svg" alt="" class="logo" />
            </a>
        </div>
        
        @await Html.PartialAsync("Partials/_NavbarDashboard")

        <div class="searchbar">
            <input
                type="search"
                name="search"
                id="search"
                placeholder="Type here to search..."
            />
        </div>
        <div class="user-menu">
            @await Html.PartialAsync("Partials/_NotificationIcon")
            @await Html.PartialAsync("Partials/_DarkModeIcon")
            <p>Hello, @Capitalizer.Capitalize(claimName!)</p>
            <div
                class="profile-img-container"
                role="button"
                tabindex="0"
                aria-label="Profile Menu"
            >
                <img
                    src="~/img/user-placeholder.svg"
                    alt=""
                    class="user-profile"
                />

            </div>
        </div>

        <div class="section-add">
            <h2>Projects</h2>
            <button class="btn btn-primary" id="addProjectBtn">+ Add Project</button>
        </div>
        <div class="section-filter">
            <ul>
                <li
                    role="button"
                    tabindex="0"
                    aria-label="All projects filter"
                    class="list-filter filter-active"
                    data-filter = "all"
                >
                    All
                </li>
                <li
                    role="button"
                    tabindex="0"
                    aria-label="Started projects filter"
                    class="list-filter"
                    data-filter = "started"
                >
                    Started
                </li>
                <li
                    role="button"
                    tabindex="0"
                    aria-label="Completed projects filter"
                    class="list-filter"
                    data-filter = "completed"
                >
                    Completed
                </li>
            </ul>
        </div>
        <main class="dashboard-content">
                @await Html.PartialAsync("Partials/_ProjectCard", Model)
        </main>
        
    </div>
</div>

