@model Dashboard_MVC.Views.Models.DashboardViewModel

<div class="center form-wrapper @(ViewBag.ShowMemberForm == true ? "" : "hidden")" id="addMemberForm" >
    <form class="add-form form" id="addMember" asp-controller="Dashboard" asp-action="CreateMember" method="post" enctype="multipart/form-data" novalidate>
        <div class="form-header add-form-header">
            <h3>Add Member</h3>
            <div
                class="close-btn btn member-form-close-btn"
                role="button"
                tabindex="0"
                aria-label="Close"
            >
                <img src="~/img/X.svg" alt="" />
            </div>
        </div>

        <div class="form-group">
            <div class="img-preview-container">
                <img id="imgPreview" src="" alt="Preview"/>
            </div>
                <input type="file" class="ImageEditFile" asp-for="CreateMember.ImageFile" accept="image/*" />
        </div>

        <div class="name-wrapper">
            <div class="form-group">
                <label asp-for="CreateMember.FirstName">First Name:</label>
                <input
                    type="text"
                    placeholder="First name"
                    asp-for="CreateMember.FirstName"
                    class="name-input text-input"
                />
                <span class="error" asp-validation-for="CreateMember.FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateMember.LastName">Last Name:</label>
                <input
                    asp-for="CreateMember.LastName"
                    type="text"
                    placeholder="last name"
                />
                <span class="error" asp-validation-for="CreateMember.LastName"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CreateMember.Email">Email:</label>
            <input asp-for="CreateMember.Email" type="email" id="email" placeholder="members email adress" />
            <span class="error" asp-validation-for="CreateMember.Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="CreateMember.Phone">Phone:</label>
            <input asp-for="CreateMember.Phone" type="tel"   placeholder="+46 52 567 567" />
            <span class="error" asp-validation-for="CreateMember.Phone"></span>
        </div>

        <div class="form-group">
            <label asp-for="CreateMember.Title">Job Title:</label>
            <input asp-for="CreateMember.Title" type="text"  placeholder="tex CEO, Developer etc"/>
            <span class="error" asp-validation-for="CreateMember.Title"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add Member</button>
        </div>
    </form>
</div>