@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !(consentFeature?.CanTrack ?? true);
    var cookieString = consentFeature?.CreateConsentCookie();
}


<div id="cookieConsentBanner" class="cookie-box @(showBanner ? "" : "hidden")">
    <div class="cookie-policy-text">
        We use cookies to improve your experience. Some cookies are essential for the site to work. Others, like for saving your theme preference, are optional. Please accept optional cookies for the best experience.
        <a>Learn More</a>.
    </div> 
    <button class="btn btn-primary accept-cookie" data-cookie-string="@cookieString">
        Accept Functional Cookies
    </button>
    <button class="btn btn-primary decline-cookie">
        Decline/Remove Functional Cookies
    </button>
</div>
    
    
<div class="cookie-review @(showBanner ? "hidden" : "")">
    <img alt="cookie icon" src="img/cookie-svgrepo-com.svg"/>
</div>