@model Dashboard_MVC.Views.Models.DashboardViewModel

<div class="center form-wrapper @(ViewBag.ShowEditMemberForm == true ? "" : "hidden")" id="EditMemberForm">
    <form class="add-form form" asp-controller="Dashboard" asp-action="PostEditMember" method="post" enctype="multipart/form-data">
        <div class="form-header add-form-header">
            <input type="hidden" asp-for="EditMember.Id" />
            <input type="hidden" asp-for="EditMember.ImgUrl" />
            <h3>Edit Member</h3>
            <div
                class="close-btn btn"
                id="EditMemberClose"
                role="button"
                tabindex="0"
                aria-label="Close">
                <img src="~/img/X.svg" alt=""/>
            </div>
        </div>

        <div class="form-group">
            <div class="img-preview-container">
                <img id="imgEditPreview" src="@(string.IsNullOrEmpty(Model.EditMember.ImgUrl) ? Url.Content("~/img/user-placeholder.svg") : Model.EditMember.ImgUrl)" alt="Preview"/>
            </div>
            <input type="file" id="ImageEditFile" asp-for="EditMember.ImageFile" accept="image/*" />
        </div>

        <div class="name-wrapper">
            <div class="form-group">
                <label asp-for="EditMember.FirstName">First Name:</label>
                <input
                    type="text"
                    placeholder="First name"
                    asp-for="EditMember.FirstName"
                />
                <span class="error" asp-validation-for="EditMember.FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditMember.LastName">Last Name:</label>
                <input
                    asp-for="EditMember.LastName"
                    type="text"
                    placeholder="last name"
                />
                <span class="error" asp-validation-for="EditMember.LastName"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="EditMember.Email">Email:</label>
            <input asp-for="EditMember.Email" type="email" placeholder="members email adress" />
            <span class="error" asp-validation-for="EditMember.Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="EditMember.Phone">Phone:</label>
            <input asp-for="EditMember.Phone" type="tel" placeholder="+46 52 567 567" />
            <span class="error" asp-validation-for="EditMember.Phone"></span>
        </div>

        <div class="form-group">
            <label asp-for="EditMember.Title">Job Title:</label>
            <input asp-for="EditMember.Title" type="text" placeholder="tex CEO, Developer etc" />
            <span class="error" asp-validation-for="EditMember.Title"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
    </form>
</div>

